.bubbleButton button {
  color: white;
  font-size: 18px;
  border: 2px solid white;
  /* border-radius: 0.5em; */
  width: 160px;
  height: 55px;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-family: sans-serif;
  /* letter-spacing: 1px; */
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  /* margin: 1em; */
}

.bubbleButton button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: white;
  transform: translateY(150%);
  /* border-radius: 50%; */
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.bubbleButton button:hover {
  color: black;
}

.bubbleButton button:hover span {
  transform: translateY(0) scale(2);
}

.bubbleButton button span:nth-child(1) {
  --n: 1;
}

.bubbleButton button span:nth-child(2) {
  --n: 2;
}

.bubbleButton button span:nth-child(3) {
  --n: 3;
}

.bubbleButton button span:nth-child(4) {
  --n: 4;
}

@media screen and (max-width: 767px) {
  .bubbleButton button {
    font-size: 16px;
    width: 130px;
    height: 40px;
    line-height: 1.5em;
  }
}
